
@{
    ViewBag.Title = "Makaleler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Hero Area -->
<div class="hero-area">
    <div class="page-header" style="background-image:url(/Assets/images/parallax4.jpg);">
        <div class="container">
            <div class="header-counter">
                
            </div>
            <h1>Makaleler</h1>            
        </div>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="pull-right">
                        <select class="selectpicker">
                            <option>Sort by category</option>
                            <option>Announcements</option>
                            <option>Guidance</option>
                            <option>Seminars</option>
                            <option>Services Launch</option>
                        </select>
                    </div>
                    <h4 class="inblock">July</h4>
                    <ul class="nav-np">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    <ul class="events-list events-list-compact">
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jun</div>
                                <div class="event-day">11</div>
                            </div>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi"><strong>Nişanın Bozulmasından Kaynaklanan Davalar: Maddi Tazminat, Manevi Tazminat, Hediyelerin İadesi</strong></a>
                            <span class="meta-data">Saturday, 10:00 AM</span>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jun</div>
                                <div class="event-day">18</div>
                            </div>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi"><strong>2 Yaşındaki Kız Çocuğun Boşanan Anne-Baba İle Kişisel İlişkisi</strong></a>
                            <span class="meta-data">Saturday, 12:00 PM</span>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jul</div>
                                <div class="event-day">01</div>
                            </div>
                            <a href="bosanmada-maddi-ve-manevi-tazminat" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="bosanmada-maddi-ve-manevi-tazminat"><strong>Boşanmada Maddi ve Manevi Tazminat</strong></a>
                            <span class="meta-data">Friday, 01:00 PM</span>
                            <a href="bosanmada-maddi-ve-manevi-tazminat"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jul</div>
                                <div class="event-day">01</div>
                            </div>
                            <a href="ozel-hayat-alani-anayasa-mahkemesi" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="ozel-hayat-alani-anayasa-mahkemesi"><strong>Boşanma Davasında Kanuna Aykırı Elde Edilen Deliller: Eşlerin Birbirlerine Karşı Özel Hayat Alanlarını İhlal Eder Mi?</strong></a>
                            <span class="meta-data">Friday, 04:00 PM</span>
                            <a href="ozel-hayat-alani-anayasa-mahkemesi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                    </ul>
                    <div class="spacer-40"></div>
                   
                </div>

                <div class="col-md-3 sidebar right-sidebar">                    
                    <div class="widget sidebar-widget widget_custom_category">
                        <h3 class="widgettitle">Kategoriler</h3>
                        <ul>
                            <li><a href="#">Seminars</a> (10)</li>
                            <li><a href="#">Announcements</a> (12)</li>
                            <li><a href="#">Guidance</a> (34)</li>
                            <li><a href="#">Service lanuch</a> (14)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>