
@{
    ViewBag.Title = "İletişim Formu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Hero Area -->
<div class="hero-area">
    <div class="page-header have-submenu">
        <div class="container">
            <a href="#" class="btn btn-primary btn-dark btn-ghost pull-right">İletişime Geç</a>
            <h1>Av. Arb. Pınar Denktaş</h1>
        </div>
    </div>
</div>
<div class="utility-bar">
    <div class="container">
        <ul class="template-submenu">
            <li><a href="/pinar-denktas">Profil</a></li>
            <li><a href="/yazarin-yazilari">Makaleleri</a></li>
            <li><a href="/uzmanlik-alanlari">Uzmanlık Alanları</a></li>
            <li><a href="/iletisim-formu">İletişim Formu</a></li>
        </ul>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <form method="post" id="contactform" name="contactform" class="contact-form clearfix" action="mail/contact.php">
                        <h4>İletişim Formu</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Adınız</label>
                                <input type="text" id="name" name="name" class="form-control input-lg">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Email Adresiniz</label>
                                <input type="email" id="email" name="email" class="form-control input-lg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Telefonunuz</label>
                                <input type="text" id="phone" name="phone" class="form-control input-lg">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Adresiniz</label>
                                <input type="text" id="address" name="address" class="form-control input-lg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Mesajınız</label>
                                <textarea class="form-control input-lg" id="comments" name="comments" rows="6"></textarea>
                                <button type="submit" id="submit" name="submit" class="btn btn-primary btn-lg">Gönder</button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div id="message"></div>
                </div>                
            </div>
            <div class="spacer-50"></div>
        </div>
    </div>
</div>