
@{
    ViewBag.Title = "HizmetMiras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="body">
    <!-- Start Hero Area -->
    <div class="hero-area">
        <div class="page-header" style="background-image: url(/Assets/images/allimages/Background_Hizmet.jpg); ">
            <div class="container">
                <a href="/iletisim-formu" class="btn btn-primary btn-dark btn-ghost pull-right">İletişime Geç</a>
                <h1>Miras</h1>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 sidebar left-sidebar positioned">
                        <div class="widget sidebar-widget custom_menu">
                            <ul class="pages-sub-menu">
                                <li><a href="/aile-bosanma">Aile & Boşanma</a></li>
                                <li><a href="/miras">Miras</a></li>
                                <li><a href="/arabulucuk">Arabuluculuk</a></li>
                                <li><a href="/yabancılar">Yabancılar</a></li>
                            </ul>
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <img src="~/Assets/images/allimages/av_arb_pinar_denktas_hukuk_burosu.jpg" alt="" class="margin-20">
                            <p class="margin-0">
                                Avukatlarımız müvekkillerimizi Türkiye ve Kuzey Kıbrıs Türk Cumhuriyeti’nde temsil etmekte,
                                aynı zamanda çok uluslu meselelerde bağlantılı olduğu uluslararası hukuk bürolarıyla birlikte hizmet vermektedir.<br /><br />
                            </p>
                            <img src="~/Assets/images/allimages/imza_p_denktas.jpg" alt="">
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <p><i class="fa fa-2x align-left fa-comment-o"></i> +90 212 705 05 12 <a href="#"></a></p>
                            <hr>
                            <p class="short"><i class="fa fa-2x align-left fa-envelope-o"></i> Email İletişim <a href="mailto:info@denktas.av.tr"><strong>info@denktas.av.tr</strong></a></p>
                        </div>
                        <div class="widget sidebar-widget text_widget">

                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8">

                        <div class="spacer-30"></div>
                        <div class="accordion" id="service-blocks">
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#service-blocks" href="#collapseOne">
                                        Miras
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body in collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <p>
                                                Büromuzun ehil ve tecrübeli avukatları müvekkillerimizin ölümden sonraki vasiyetlerinin yerine getirilmesi ve sevdiklerinin korunması için yasal ve vergisel anlamda her türlü danışmanlık vermektedir.
                                                Özellikle milletlerarası mirasa ilişkin karmaşık ve stratejik birçok ihtilaf ile ilgili olarak müvekkillerimize Türkiye ve diğer ülkelerdeki miraslarının başarılı bir şekilde intikalini sağlamış bulunmaktayız.
                                                Bununla birlikte hizmetlerimiz varlık planlaması, vakıf tesis edilmesi, yerli ya da yabancı fonların kurulması, vasiyet ve miras sözleşmelerinin düzenlenmesi, veraset ve intikal işlemlerinin yürütülmesi, mirasın reddi, tasarrufların iptali, tereke tespiti, izale-i şüyuu, ecri misil ve benzer diğer miras uyuşmazlık ve davalarına ilişkin temsil ve danışmanlık hizmetlerini kapsamaktadır.
                                            </p>
                                            <a href="/iletisim-formu" class="btn btn-primary btn-dark btn-ghost pull-left hover">İletişime Geç</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Toggle -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />