
@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">    
    <!-- Start Hero Area -->
    <div class="hero-area">
        <div class="page-header" style="background-image:url(images/bg_map.jpg);">
            <div class="container">
                <a href="contact.html" class="btn btn-primary btn-dark btn-ghost pull-right">Book a meeting</a>
                <h1>Client Services</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 sidebar left-sidebar positioned">
                        <div class="widget sidebar-widget custom_menu">
                            <ul class="pages-sub-menu">
                                <li><a href="single-service.html">Bankruptcy &amp; Reorganization</a></li>
                                <li><a href="single-service.html">Corporate</a></li>
                                <li><a href="single-service.html">Real Estate</a></li>
                                <li><a href="single-service.html">Consumer Financial Services</a></li>
                                <li><a href="single-service.html">Fraud &amp; Recovery</a></li>
                                <li><a href="single-service.html">Immigration</a></li>
                                <li><a href="single-service.html">Healthcare</a></li>
                                <li><a href="single-service.html">Litigation</a></li>
                                <li><a href="single-service.html">Tax</a></li>
                            </ul>
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="margin-20">
                            <p class="margin-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor lacinia diam quis imperdiet. Proin vitae iaculis nisl</p>
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <p><i class="fa fa-2x align-left fa-comment-o"></i> Call us toll free <a href="#"><strong>1800-9090-8089</strong></a></p>
                            <hr>
                            <p class="short"><i class="fa fa-2x align-left fa-envelope-o"></i> Email our solicitors <a href="#"><strong>team@solicitors.com</strong></a></p>
                        </div>
                        <div class="widget sidebar-widget text_widget">
                            <a href="#" class="btn btn-default btn-ghost btn-dark btn-block"><i class="fa fa-file-pdf-o"></i> Download Catalog</a>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor lacinia diam quis imperdiet. Proin vitae iaculis nisl. Cras eleifend quam lectus, sed bibendum libero convallis at. Nulla sagittis convallis neque at scelerisque. Pellentesque placerat bibendum magna, semper accumsan sem congue nec. Etiam viverra, ipsum vel suscipit varius, neque odio suscipit orci, et molestie metus mi a dui.</p>
                        <div class="spacer-30"></div>
                        <div class="accordion" id="service-blocks">
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#service-blocks" href="#collapseOne">
                                        Bankruptcy &amp; Reorganization
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body in collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <img src="http://placehold.it/400x600&amp;text=IMAGE+PLACEHOLDER" alt="">
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <img src="http://placehold.it/400x600&amp;text=IMAGE+PLACEHOLDER" alt="">
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <img src="http://placehold.it/400x600&amp;text=IMAGE+PLACEHOLDER" alt="">
                                            </div>
                                        </div>
                                        <div class="spacer-20"></div>
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseTwo">
                                        Corporate
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseThree">
                                        Real Estate
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseFour">
                                        Consumer Financial Services
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseFour" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseFive">
                                        Fraud &amp; Recovery
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseFive" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseSix">
                                        Immigration
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseSix" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseSeven">
                                        Healthcare
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseSeven" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseEight">
                                        Litigation
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseEight" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseNine">
                                        Tax
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseNine" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">Bankruptcy Trustees</a></li>
                                                <li><a href="single-service.html">Creditors Committees</a></li>
                                                <li><a href="single-service.html">Executory Contracts</a></li>
                                                <li><a href="single-service.html">Mortgage Warehouse Financing Workouts</a></li>
                                            </ul>
                                            <ul class="carets col-md-6">
                                                <li><a href="single-service.html">SEC Receiverships</a></li>
                                                <li><a href="single-service.html">Workouts &amp; Restructuring</a></li>
                                                <li><a href="single-service.html">Secured Creditors</a></li>
                                                <li><a href="single-service.html">Chapter 11 Debtors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Toggle -->
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>
<br />