
@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <!-- Start Hero Area -->
    <div class="hero-area">
        <div class="page-header" style="background-image: url(/Assets/images/allimages/Background_Hizmet.jpg); ">
            <div class="container">
                <a href="/iletisim-formu" class="btn btn-primary btn-dark btn-ghost pull-right">İletişime Geç</a>
                <h1>Hizmetlerimiz</h1>

            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
        <div class="content">
            <div class="container">
                <div class="row tesst">
                    <div class="col-lg-3 col-md-4 sidebar left-sidebar positioned" id="A1">
                        <div class="widget sidebar-widget custom_menu" id="A1">
                            <ul class="pages-sub-menu">
                                <li><a href="/aile-bosanma">Aile & Boşanma</a></li>
                                <li><a href="/miras">Miras</a></li>
                                <li><a href="/arabulucuk">Arabuluculuk</a></li>
                                <li><a href="/yabancılar">Yabancılar</a></li>
                            </ul>
                        </div>
                        <div class="widget sidebar-widget fancy_block" id="A2">
                            <img src="~/Assets/images/allimages/av_arb_pinar_denktas_hukuk_burosu.jpg" alt="" class="margin-20">
                            <p class="margin-0">
                                Avukatlarımız müvekkillerimizi Türkiye ve Kuzey Kıbrıs Türk Cumhuriyeti’nde temsil etmekte,
                                aynı zamanda çok uluslu meselelerde bağlantılı olduğu uluslararası hukuk bürolarıyla birlikte hizmet vermektedir.<br /><br />
                            </p>
                            <img src="~/Assets/images/allimages/imza_p_denktas.jpg" alt="">
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <p><i class="fa fa-2x align-left fa-comment-o"></i> <a href="tel:+902127050512">+90 212 705 05 12 </a></p>
                            
                            <hr>
                            <p class="short"><i class="fa fa-2x align-left fa-envelope-o"></i> Email İletişim <a href="mailto:pinar.denktas@denktas.av.tr"><strong>info@denktas.av.tr</strong></a></p>
                        </div>
                        <div class="widget sidebar-widget text_widget">

                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8" id="A2">

                        <div class="spacer-30"></div>
                        <div class="accordion" id="service-blocks">
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#service-blocks" href="#collapseOne">
                                        Aile & Boşanma
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body in collapse">
                                    <div class="accordion-inner">                                                                                
                                        <div class="row">
                                            <p>Evlilik öncesi sözleşmeler, boşanma, mal paylaşımı, velayet, nafaka, aile içi şiddet</p>
                                            <a href="aile-bosanma" class="btn btn-primary btn-dark btn-ghost pull-left hover">Detaylı Bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseTwo">
                                        Miras
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <p>Miras intikali, vasiyet, miras sözleşmesi, tereke tespiti, miras uyuşmazlıkları</p>
                                            <a href="miras" class="btn btn-primary btn-dark btn-ghost pull-left hover">Detaylı Bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseThree">
                                        Arabuluculuk
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <p>Aile arabuluculuğu, tüketici, ticari ve işçi-işveren ihtilaflarına ilişkin dava şartı ve ihtiyari arabuluculuk</p>
                                            <a href="arabulucuk" class="btn btn-primary btn-dark btn-ghost pull-left hover">Detaylı Bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service-blocks" href="#collapseFour">
                                        Yabancılar
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapseFour" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="row">
                                            <p>Mal edinimi, çalışma izni, oturum izni, vatandaşlık, tanıma-tenfiz.</p>
                                            <a href="yabancılar" class="btn btn-primary btn-dark btn-ghost pull-left hover">Detaylı Bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Toggle -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />