@{
    ViewBag.Title = "Anasayfa";
}

<!-- Start Hero Area -->
<div class="hero-area">
    <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
        <ul class="slides">
            <li class="parallax" style="background-image: url(/Assets/images/allimages/pinar_denktas_web_site_slider_.jpg); ">
                <div class="flex-caption text-align-left vertical-center">
                    <div class="container">
                        <div class="flex-caption-table">
                            <div class="flex-caption-cell">
                                <div class="flex-caption-text">
                                    <h2>12 Yıllık Tecrübe</h2>
                                    <p>Büromuz güvenilir, çalışkan, atik, hukuk nosyonu ve bilgisi güçlü, <br />farkındalığı yüksek ve piyasaların gerekliliklerine son derece hakim avukat ve arabuluculardan oluşmaktadır.</p>
                                    <a href="/iletisim-formu" class="btn btn-default btn-ghost btn-light btn-rounded">İletişime Geç</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--Alttaki Mobil İçin Konulan Slider-->
            <li class="parallax mobile-image" style="background-image: url(/Assets/images/allimages/pinar_denktas_mobile_slider_400.png); ">
                <div class="flex-caption text-align-left vertical-center">
                    <div class="container">
                        <div class="flex-caption-table">
                            <div class="flex-caption-cell">
                                <div class="flex-caption-text">
                                    <h2>12 Yıllık Tecrübe</h2>
                                    <p>Büromuz güvenilir, çalışkan, atik, hukuk nosyonu ve bilgisi güçlü, <br />farkındalığı yüksek ve piyasaların gerekliliklerine son derece hakim avukat ve arabuluculardan oluşmaktadır.</p>
                                    <a href="/iletisim-formu" class="btn btn-default btn-ghost btn-light btn-rounded">İletişime Geç</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--/-----------------------------------------------/-->
            <li class="parallax" style="background-image: url(/Assets/images/allimages/Pinar_Denktas_web_site_slider_2.png); ">
                <div class="flex-caption text-align-left vertical-center">
                    <div class="container">
                        <div class="flex-caption-table">
                            <div class="flex-caption-cell">
                                <div class="flex-caption-text">
                                    <h2>12 Yıllık Tecrübe</h2>
                                    <p>Avukatlarımız müvekkillerimizi Türkiye ve Kuzey Kıbrıs Türk Cumhuriyeti’nde temsil etmekte,<br /> aynı zamanda çok uluslu meselelerde bağlantılı olduğu uluslararası hukuk bürolarıyla birlikte hizmet vermektedir. </p>
                                    <a href="/iletisim-formu" class="btn btn-default btn-ghost btn-light btn-rounded">İletişime Geç</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="notice-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 equalize">
                <div class="galleryflex flexslider" data-autoplay="yes" data-arrows="no" data-speed="7000" data-style="slide" data-direction="vertical">
                    <ul class="slides">
                        @*/*Buradaki sliderleri arttırdığımızda orada da dönecekler*/*@
                        <li class="slide">
                            <span class="icon-block"><img src="~/Assets/images/allimages/12.yil_tecrube_.png" /></span>
                            <p><a href="#"> Denktaş; boşanma, miras, milletler arası boşanma ve miras hukuku, mal rejimi, arabuluculuk, özellikle aile arabuluculuğu ve yabancılar hukuku ile ilgili Türkiye ve KKTC'nde hizmet vermektedir.</a></p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 hidden-sm hidden-xs equalize">
                <a href="/makaleler" class="btn btn-primary btn-block equalize"><span>Son Makaleler</span><em>Tümünü Gör</em></a>
            </div>
        </div>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="spacer-20"></div>
            <div class="text-align-center">
                <h3>HİZMETLERİMİZ</h3>
                <hr class="sm">
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <a href="/aile-bosanma" target="_blank"><i class="icon icon-dialogue-happy"></i></a>
                        </div>
                        <a href="/aile-bosanma" target="_blank"><h3>Aile & Boşanma</h3></a>
                        <p>Evlilik öncesi sözleşmeler, boşanma, mal paylaşımı, velayet, nafaka, aile içi şiddet</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <a href="/miras" target="_blank"><i class="icon icon-check"></i></a>
                        </div>
                        <a href="/miras" target="_blank"><h3>Miras</h3></a>
                        <p>Miras intikali, vasiyet, miras sözleşmesi, tereke tespiti, miras uyuşmazlıkları</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <a href="/arabulucuk" target="_blank"><i class="icon icon-diamond"></i></a>
                        </div>
                        <a href="/arabulucuk" target="_blank"><h3>Arabuluculuk</h3></a>
                        <p>Aile arabuluculuğu, tüketici, ticari ve işçi-işveren ihtilaflarına ilişkin dava şartı ve ihtiyari arabuluculuk</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <a href="/yabancılar"><i class="icon icon-music-random"></i></a>
                        </div>
                        <a href="/yabancılar"><h3>Yabancılar</h3></a>
                        <p>Mal edinimi, çalışma izni, oturum izni, vatandaşlık, tanıma-tenfiz.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="spacer-60"></div>
    <div class="padding-tb45 parallax parallax2 parallax-light">
        <div class="overlay-accent"></div>
        <h4 class="text-align-center margin-0">Avukat; hem bir stratejist, müzakereci ve müdafi, hem de kanunlar ile müvekkilin<br /> yasal haklarına ilişkin eksiksiz bilgi veren keskin bir danışman olmalıdır.<br /> – Pınar Denktaş</h4>
    </div>

    <div class="container">
        <div class="spacer-30"></div>
        <h5 class="subhead">Ekibimiz</h5>
        <ul class="team-list row">
            <li class="team-list-item col-md-4">
                <img src="~/Assets/images/allimages/beyza_petek.jpg" alt="">
                <h5>Beyza PETEK</h5>
                <span class="meta-data">Avukat</span>
                <p>Marmara Üniversitesi</p>
            </li>
            <li class="team-list-item col-md-4">
                <img src="~/Assets/images/allimages/fatih_emre.jpg" alt="">
                <h5>Fatih Emre GÖKÇE</h5>
                <span class="meta-data">Stj. Avukat</span>
                <p>İstanbul Üniversitesi</p>
            </li>
            <li class="team-list-item col-md-4">
                <img src="~/Assets/images/allimages/murvet_senem_cetin.jpg" alt="">
                <h5>Mürvet Senem ÇETİN</h5>
                <span class="meta-data">Stj. Avukat</span>
                <p>Maltepe Üniversitesi</p>
            </li>
        </ul>
    </div>

    <div class="padding-tb75 parallax parallax3 border-tb" style="background-image: url(/Assets/images/allimages/blog-background.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <h3>Son Makaleler</h3>
                    <ul class="events-list events-list-compact">
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jun</div>
                                <div class="event-day">11</div>
                            </div>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi"><strong>Nişanın Bozulmasından Kaynaklanan Davalar: Maddi Tazminat, Manevi Tazminat, Hediyelerin İadesi</strong></a>
                            <span class="meta-data">Saturday, 10:00 AM</span>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jun</div>
                                <div class="event-day">18</div>
                            </div>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi"><strong>2 Yaşındaki Kız Çocuğun Boşanan Anne-Baba İle Kişisel İlişkisi</strong></a>
                            <span class="meta-data">Saturday, 12:00 PM</span>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jul</div>
                                <div class="event-day">01</div>
                            </div>
                            <a href="bosanmada-maddi-ve-manevi-tazminat" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="bosanmada-maddi-ve-manevi-tazminat"><strong>Boşanmada Maddi ve Manevi Tazminat</strong></a>
                            <span class="meta-data">Friday, 01:00 PM</span>
                            <a href="bosanmada-maddi-ve-manevi-tazminat"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                        <li>
                            <div class="event-date">
                                <div class="event-month">Jul</div>
                                <div class="event-day">01</div>
                            </div>
                            <a href="ozel-hayat-alani-anayasa-mahkemesi" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                            <a href="ozel-hayat-alani-anayasa-mahkemesi"><strong>Boşanma Davasında Kanuna Aykırı Elde Edilen Deliller: Eşlerin Birbirlerine Karşı Özel Hayat Alanlarını İhlal Eder Mi?</strong></a>
                            <span class="meta-data">Friday, 04:00 PM</span>
                            <a href="ozel-hayat-alani-anayasa-mahkemesi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="carousel-wrapper">
                        <div class="row">
                            <ul class="owl-carousel carousel-fw" id="partners-slider" data-columns="4" data-autoplay="no" data-pagination="no" data-arrows="no" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="3" data-items-mobile="2">
                                <li class="item"><img src="~/Assets/images/PinarDenktas_Sertifikalar.png" alt=""></li>

                                @*<li class="item"><img src="~/Assets/images/logo5.png" alt=""></li>
                                    <li class="item"><img src="~/Assets/images/logo1.png" alt=""></li>
                                    <li class="item"><img src="~/Assets/images/logo2.png" alt=""></li>*@
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="spacer-55 hidden-sm"></div>
                    <div class="spacer-40 visible-sm"></div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>