@{
    ViewBag.Title = "Anasayfa";
}

<!-- Start Hero Area -->
<div class="hero-area">
    <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
        <ul class="slides">
            <li class="parallax" style="background-image: url(/Assets/images/allimages/pinar_denktas_web_site_slider_.png);">
                <div class="flex-caption text-align-left vertical-center">
                    <div class="container">
                        <div class="flex-caption-table">
                            <div class="flex-caption-cell">
                                <div class="flex-caption-text">
                                    <h2>12 Yıllık Tecrübe</h2>
                                    <p>Büromuzda yer alan profesyonel kadromuz, çalışkan, farkındalığı yüksek,<br /> geniş bilgi sahibi, piyasaların gerekliliklerine hakim avukat ve arabuluculardan oluşmaktadır.</p>
                                    <a href="/iletisim-formu" class="btn btn-default btn-ghost btn-light btn-rounded">İletişime Geç</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="parallax" style="background-image: url(/Assets/images/allimages/Pinar_Denktas_web_site_slider_2.png); ">
                <div class="flex-caption text-align-left vertical-center">
                    <div class="container">
                        <div class="flex-caption-table">
                            <div class="flex-caption-cell">
                                <div class="flex-caption-text">
                                    <h2>12 Yıllık Tecrübe</h2>
                                    <p>Avukatlarımız müvekkillerimizi Türkiye ve Kuzey Kıbrıs Türk Cumhuriyeti’nde temsil etmekte,<br /> aynı zamanda çok uluslu meselelerde bağlantılı olduğu uluslararası hukuk bürolarıyla birlikte hizmet vermektedir. </p>
                                    <a href="/iletisim-formu" class="btn btn-default btn-ghost btn-light btn-rounded">İletişime Geç</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="notice-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 equalize">
                <div class="galleryflex flexslider" data-autoplay="yes" data-arrows="no" data-speed="7000" data-style="slide" data-direction="vertical">
                    <ul class="slides">
                        @*/*Buradaki sliderleri arttırdığımızda orada da dönecekler*/*@
                        <li class="slide">
                            <span class="icon-block"><img src="~/Assets/images/allimages/12.yil_tecrube_.png"/></span>
                            <p><a href="#"> Denktaş Kurtoğlu Hukuk Bürosu Av. Arb. Pınar Denktaş ve Av. Arb. Kübra Kurtoğlu tarafından kurulmuş olup, İstanbul’da faaliyet göstermektedir.</a></p>                           
                        </li>                        
                    </ul>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 hidden-sm hidden-xs equalize">
                <a href="/blog" class="btn btn-primary btn-block equalize"><span>Son Yazılar</span><em>Tümünü Gör</em></a>
            </div>
        </div>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="spacer-20"></div>
            <div class="text-align-center">
                <h3>HİZMETLERİMİZ</h3>
                <hr class="sm">
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <i class="icon icon-dialogue-happy"></i>
                        </div>
                        <h3>Aile & Boşanma</h3>
                        <p>Evlilik öncesi sözleşmeler, boşanma, mal paylaşımı, velayet, nafaka, aile içi şiddet</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <i class="icon icon-check"></i>
                        </div>
                        <h3>Miras</h3>
                        <p>Miras intikali, vasiyet, miras sözleşmesi, tereke tespiti, miras uyuşmazlıkları</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <i class="icon icon-diamond"></i>
                        </div>
                        <h3>Arabuluculuk</h3>
                        <p>Aile arabuluculuğu, tüketici, ticari ve işçi-işveren ihtilaflarına ilişkin dava şartı ve ihtiyari arabuluculuk</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box ibox-center ibox-plain">
                        <div class="ibox-icon margin-0">
                            <i class="icon icon-music-random"></i>
                        </div>
                        <h3>Yabancılar</h3>
                        <p>Mal edinimi, çalışma izni, oturum izni, vatandaşlık, tanıma-tenfiz.</p>
                    </div>
                </div>
                
                </div>
                
            </div>
        </div>
        <div class="spacer-60"></div>
        <div class="padding-tb45 parallax parallax2 parallax-light">
            <div class="overlay-accent"></div>
            <h4 class="text-align-center margin-0">Avukat; hem bir stratejist, müzakereci ve müdafi, hem de kanunlar ile müvekkilin<br /> yasal haklarına ilişkin eksiksiz bilgi veren keskin bir danışman olmalıdır.<br /> – Pınar Denktaş</h4>
        </div>
        <div class="padding-tb75 parallax parallax3 border-tb" style="background-image: url(/Assets/images/allimages/blog-background.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <h3>Son Yazılar</h3>
                        <ul class="events-list events-list-compact">
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">11</div>
                                </div>
                                <a href="single-event.html" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                                <a href="single-event.html"><strong>International Immigration Seminar</strong></a>
                                <span class="meta-data">Saturday, 10:00 AM</span>
                                <a href="#"><strong>Yazar Adı</strong></a>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">18</div>
                                </div>
                                <a href="single-event.html" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                                <a href="single-event.html"><strong>Cyber Crime Seminar</strong></a>
                                <span class="meta-data">Saturday, 12:00 PM</span>
                                <a href="#"><strong>Yazar Adı</strong></a>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                                <a href="single-event.html"><strong>Financial Investigations and Enforcement Trends Seminar</strong></a>
                                <span class="meta-data">Friday, 01:00 PM</span>
                                <a href="#"><strong>Yazar Adı</strong></a>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html" class="btn btn-default btn-sm hidden-sm">DEVAMINI OKU</a>
                                <a href="single-event.html"><strong>An Introduction to Angel Investing</strong></a>
                                <span class="meta-data">Friday, 04:00 PM</span>
                                <a href="#"><strong>Yazar Adı</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="carousel-wrapper">
                            <div class="row">
                                <ul class="owl-carousel carousel-fw" id="partners-slider" data-columns="4" data-autoplay="no" data-pagination="no" data-arrows="no" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="3" data-items-mobile="2">
                                    <li class="item"><img src="~/Assets/images/PinarDenktas_Sertifikalar.png" alt=""></li>
                                  
                                    @*<li class="item"><img src="~/Assets/images/logo5.png" alt=""></li>
        <li class="item"><img src="~/Assets/images/logo1.png" alt=""></li>
        <li class="item"><img src="~/Assets/images/logo2.png" alt=""></li>*@
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="spacer-55 hidden-sm"></div>
                        <div class="spacer-40 visible-sm"></div>
                        
                    </div>

                </div>
            </div>
        </div>        
    </div>
</div>