
@{
    ViewBag.Title = "MakaleTazminat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="blog-grid-item">
                        <div class="grid-item-inner">
                            <div class="post-item-meta">
                                <div class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 16</a></div>
                                <i class="fa fa-clock-o"></i> 05 May, 2016
                            </div>
                            <div class="alert alert-warning"><div class="meta-data"><a href="#">Aile Hukuku</a></div></div>
                            <h2>Boşanmada Maddi ve Manevi Tazminat</h2>
                            <p>
                                Boşanma Davasında Maddi Tazminat; mevcut veya beklenen menfaatleri boşanma yüzünden zedelenen kusursuz veya daha az kusurlu tarafın, kusurlu taraftan talep ettiği tazminattır. (Türk Medeni Kanunu m.174/1)
                                Bunun için, evlilikten beklenen menfaatin zedelenmesi ve boşanma ile maddi zarar arasında nedensellik bağı olması ön koşuldur. Yani, evlilik birliği sona ermeseydi kazanılacak olan çıkarlar değerlendirilir. Başka sebeplerden kaynaklanan zararlar bu kapsamda kalmaz.

                                Ayrıca tazminat talep eden kişinin, eşinden daha az kusurlu veya kusursuz olması, karşı tarafın ise kusurlu olması gerekir.

                                Boşanma Davasında Manevi Tazminat bakımından; boşanmaya sebep olan olaylar yüzünden kişilik hakları saldırıya uğrayan taraf, kusurlu olan diğer taraftan manevi tazminat olarak uygun miktarda bir para ödenmesini isteyebilir. Yani, manevi tazminat talep eden eşin hiç kusuru olmamalı veya eşine göre daha az kusurlu olması, karşı tarafın kusurlu olması ve manevi tazminat talep eden tarafın kişilik hakları zedelenmiş olmalıdır.
                                Boşanma Davasında Maddi ve Manevi Tazminatın Miktarı
                                Tazminat miktarı Mahkemece tarafların “ekonomik ve sosyal” durumları dikkate alınarak belirlenir. Hemen belirtmek gerekir ki, manevi tazminatın irat şeklinde ödenmesine karar verilemez, toplu halde ödenmesi gerekir.
                                Boşanma Davasında Zamanaşımı
                                Tazminat talepli davanın boşanma davasının kesinleşmesinden itibaren 1 yıl içerisinde açılması gerekir. Esasen boşanma davası ile birlikte de tazminat talepleri ileri sürülebilir.

                                Boşanma Davasında Harç Miktarları
                                Boşanma davası ücreti 2021 yılına ait ücret tarifelerinde belirlenmiştir. 2022 yılı dava ücretleri Kasım ayında açıklanacaktır. Boşanma davası ile birlikte ileri sürülen edilen tazminat talepleri için, boşanmanın fer’i olarak kabul edildikleri için ayrıca harç ve vekalet ücreti ödenmez.

                                Sadece tazminat davası açılması halinde, harç miktarı nispi esasa göre hesaplanır; vekalet ücreti Avukatlık Asgari Ücret Tarifesinin 3. kısmındaki oranlara göre belirlenir.

                                Boşanma Davası Ne Kadar Sürer
                                Çekişmeli boşanma davasının ne kadar süreceği, delillerin toplanmasına, tanıkların dinlenmesine, gerekirse mahkemece yapılacak araştırmaların tamamlanmasına göre değişebilir. Tek celsede boşanma genellikle anlaşmalı boşanma için söz konusu olur.

                                Çalışmayan Kadın Boşandığı Kocasına Maddi Tazminat Ödeyebilir
                                Yargıtay 2. HD 23.02.2021 tarih, 2021/1110 E., 2021/2529 K. sayılı ilamı ile; “…kadın tarafından evlilik birliği içerisinde yemek, ütü, temizlik, çamaşır, bulaşık gibi ev işlerinin yapılması, çocukların bakım ve sorumluluğunun üstlenilmesi gibi durumların da evlilikteki mevcut ve beklenen menfaatler kapsamında sayılması gerektiği, kadının düzenli bir işi ve gelirinin bulunmayışının, davacı erkek yararına TMK’nun 174/1. maddesi kapsamında maddi tazminatın tayininde değil ancak ve ancak maddi tazminatın belirlenmesinde dikkate alınabilecek olduğu, hal böyle olunca boşanmaya sebebiyet veren olaylarda maddi tazminat isteyen davacı erkeğin, davalı kadından daha fazla veya eşit kusurlu olmadığı, boşanma sonucu erkeğin en azından anılan yönlerden davalı kadının maddi desteğini yitireceği anlaşılmalıdır.” şeklinde, kadının çalışmamasına rağmen boşandığı kocasına tazminat ödemesine karar vermiştir.

                                Boşanma Davası; Maddi ve Manevi Tazminat İçtihatları
                                Tarafların ekonomik ve sosyal durumlarına, boşanmaya yol açan olaylardaki kusur derecelerine, paranın alım gücüne, ihlal edilen mevcut ve beklenen menfaatlerin kapsamına nazaran davacı adına hükmolunan tazminat miktarı azdır. TMK’nun 4. maddesindeki hakkaniyet ilkesi ile TBK’nun 50. ve 51. maddeleri hükmü nazara alınarak daha uygun miktarda maddi tazminat takdiri gerekir. Yargıtay 2. HD. 19.06.2013, 2013/5078 E., 2013/17193 K.


                                Davacı kadının intihara teşebbüs ettiği, davalı kocanın ise birlik görevlerini yerine getirmediği ve sadakatsiz davrandığı anlaşılmaktadır. Boşanmaya neden olan olaylarda koca daha ağır kusurludur. Kadının maddi ve manevi tazminat taleplerinin reddi doğru olmamıştır. Yargıtay 2. HD. 17.06.2013, 2013/4993 E., 2013/16959 K.


                                Taraflarca karşılıklı olarak açılan boşanma davalarının yapılan yargılaması sonucunda ilk derece mahkemesince boşanmaya sebep olan olaylarda; maddi çıkar amacıyla evlenen, evlilik birliğini devam ettirme amacı bulunmayan, eşi ile birlikte olmaktan kaçınan, evlilik birliğinin gereklerini yerine getirmeyen ve evden ayrıldıktan sonra tanıklara ve erkeğin oğluna, eşi için sapkın isteklerinin olduğunu söyleyen davalı-davacı kadının, eşine küfür eden ve eşini evden kovan davacı-davalı erkeğe nazaran daha ağır kusurlu olduğu kabul edilerek her iki boşanma davasının da kabulü ile tarafların boşanmalarına, kadının yoksulluk nafakası ve tazminat taleplerinin reddine, erkek yararına 10.000,00 TL manevi tazminata hükmedilmiş, hüküm davalı-davacı kadın tarafından istinaf edilmiştir. Bölge adliye mahkemesince dosya üzerinden yapılan inceleme sonucunda, davacı-davalı erkeğe yüklenen kusurların erkek tarafından istinaf edilmeyerek kesinleştiği, erkeğin kesinleşen “Kadını evden kovma” kusuru da göz önüne alındığında kadına yüklenen “Maddi çıkar amacıyla evlenme” ve “Evlilik birliğini devam ettirme gibi bir amacının bulunmamasına” ilişkin kusurlu davranışlarının kanıtlanamadığı, bu durumda kabul edilen ve gerçekleşen diğer kusurlu davranışları uyarınca tarafların boşanmaya sebebiyet veren olaylarda eşit derecede kusurlu oldukları gerekçesiyle kadının istinaf başvurusunun kısmen kabulü ile, kadın yararına boşanma hükmünün kesinleştiği tarihten itibaren aylık 350,00 TL yoksulluk nafakası takdirine, erkeğin manevi tazminat talebinin reddine, kadının sair istinaf taleplerinin ise esastan reddine karar verilmiş, hüküm bu sefer davacı-davalı erkek tarafından temyiz edilmiştir.
                                Bölge adliye mahkemesince her ne kadar davalı-davacı kadına yüklenen “Maddi çıkar amacıyla evlenme” ve “Evlilik birliğini devam ettirme gibi bir amacının bulunmamasına” yönelik kusurlu davranışların kanıtlanamadığı gerekçesiyle bu vakıalar yönünden kadına kusur yüklenmesinin doğru olmadığı belirtilmiş ise de yapılan yargılama ve toplanan delillerden, öncelikle tanıklardan kadının ilk eşinden olan oğlu Ömer’in beyanında geçen “Kadını evden kovma” vakıasının erkek tarafından istinaf edilmeyerek kesinleşmiş olması, kadına yüklenen “Maddi çıkar amacıyla evlenme” ve “Evlilik birliğini devam ettirme gibi bir amacının bulunmamasına” ilişkin kusurlu davranışların gerçekleşmediği sonucunu doğurmaz. Davalı-davacı kadın evlilik tarihinden üç gün önce 11.12.2015 tarihinde davacı-davalı erkeğin tek tapulu mal varlığı olan oturduğu evini tapuda satış yoluyla devralmış, mahkemeye ise kendisine ait taşınmazın satışı suretiyle elde ettiği parayla davacı-davalı erkeğin evini satın aldığını beyan etmiş ise de tapu müdürlüğünden gelen yazı cevabı ile beyanının doğru olmadığı anlaşılmıştır. Yine davalı-davacı kadının tanıklara çocuklarının geleceği için, ev için evlendiğini söylediği ve taraflar arasındaki yaş farkının da kırk yedi olduğu göz önüne alındığında, kadına yüklenen “Maddi çıkar amacıyla evlenme” ve “Evlilik birliğini devam ettirme gibi bir amacının bulunmamasına” ilişkin kusurlu davranışlarının dosya kapsamından sabit olduğu anlaşılmaktadır. Bu durumda ilk derece mahkemesinin de kabulünde olduğu üzere boşanmaya sebep olan olaylarda maddi çıkar amacıyla evlenen, evlilik birliğini devam ettirme amacı bulunmayan, eşi ile birlikte olmaktan kaçınan, evlilik birliğinin gereklerini yerine getirmeyen ve evden ayrıldıktan sonra tanıklara ve erkeğin oğluna, eşi için sapkın isteklerinin olduğunu söyleyen davalı-davacı kadının, eşine küfür eden ve eşini evden kovan davacı-davalı erkeğe nazaran daha ağır kusurlu olduğunun kabulü gerekirken yanılgılı kusur belirlemesi sonucu tarafların eşit kusurlu olduklarının kabulü doğru görülmemiş, bozmayı gerektirmiştir.
                                2- Boşanmaya sebep olan olaylarda yukarıda (1.) bentte açıklandığı üzere davalı-davacı kadın ağır kusurludur. Gerçekleşen kadının kusurlu davranışları aynı zamanda erkeğin kişilik haklarına saldırı teşkil eder niteliktedir. Somut olayda davacı -davalı erkek yararına TMK’nun 174/2 maddesi koşulları oluşmuştur. O halde davacı-davalı erkek lehine tarafların sosyal ve ekonomik durumları, kusurun ağırlığı ve hakkaniyet ilkesi (TMK m. 4, TBK m. 50 ve 51) dikkate alınarak uygun miktarda manevi tazminat takdir edilmesi gerekirken yanılgılı kusur belirlemesine bağlı olarak erkeğin manevi tazminat talebinin reddine karar verilmesi usul ve kanuna aykırı olup bozmayı gerektirmiştir.
                                3-Yukarıda (1.) bentte açıklandığı üzere boşanmaya sebebiyet veren olaylarda davalı-davacı kadın ağır kusurludur. Ağır kusurlu eş yararına yoksulluk nafakasına (TMK m. 175) hükmedilemez. O halde davalı-davacı kadının yoksulluk nafakası talebinin reddine karar vermek gerekirken, yazılı şekilde kabulüne karar verilmesi usul ve kanuna aykırı olup bozmayı gerektirmiştir. Yargıtay 2. HD. 30.06.2021, 2021/4211 E., 2021/5410 K.


                                Mahkemece davacı-karşı davalı erkeğin boşanma davasının reddine, davalı karşı davacı kadının karşı boşanma davasının kabulü ile tarafların boşanmalarına, kadın yararına 4.000 TL maddi, 4.000 TL manevi tazminata hükmedilmiş, kararın taraflarca temyiz edilmesi üzerine karar, Dairemizce kadın yararına hükmedilen maddi ve manevi tazminatın az olduğu belirtilerek bozulmuş, yerel mahkemece bozma ilamına uyularak yapılan yargılama sonucunda davalı karşı davacı kadın yararına 25.000 TL maddi, 15.000 TL manevi tazminata hükmedilmiş, bu sefer davacı karşı davalı erkeğin temyizi üzerine karar Dairemizce “Davalı-karşı davacı kadın yararına takdir edilen maddi tazminatın çok olduğu” gerekçesi ile bozulmuş, davalı karşı davacı kadın tarafından bu ilama karşı süresinde karar düzeltme talebinde bulunulmuştur. Dosyanın yeniden yapılan incelemesinde; tarafların belirlenen ekonomik ve sosyal durumlarına, boşanmaya yol açan olaylardaki kusur durumlarına, paranın alım gücüne, ihlal edilen mevcut ve beklenen menfaatlerin kapsamına nazaran davalı karşı davacı kadın yararına mahkemece hükmolunan maddi tazminat uygun olduğu halde kararın “Kadın yararına maddi tazminatın çok olduğundan” bahisle bozulması hatalı olmuştur. Davalı karşı davacı kadının karar düzeltme talebi haklı ve yerinde olup, kabulü ile kısmen onama kısmen bozmaya dair Dairemiz ilamının 2. bendinin kaldırılmasına, yerel mahkeme kararının kadın yararına hükmolunan maddi tazminata yönelik bölümünün de onanmasına karar verilmesi gerekmiştir. Yargıtay 2. HD. 28.06.2021, 2021/4343 E., 2021/5322 K.


                                Davalı kadının temyizi üzerine yapılan incelemede; davalı kadının, eşinin annesine “gerizekalı” diye hakaret ettiğine yönelik tanık beyanının zamanı belli olmayan soyut beyan niteliğinde olduğu, çok sayıda erkekle telefonda yazışması ve özel görüntülerini göndermesi vakıasının ise güven sarsıcı davranış niteliğinde olduğu, davacı erkeğin mahkemece belirlenen ve gerçekleşen kusurlu davranışları yanında, bağımsız konut temin etmediği anlaşılmaktadır. Gerçekleşen bu duruma göre, boşanmaya sebep olan olaylarda tarafların eşit kusurlu olduğunun kabulü gerekir. O halde davalı kadının ağır kusurlu olduğu kabul edilmesi doğru olmayıp bozmayı gerektirmiştir.
                                3-Yukarıda 2. bentte açıklandığı üzere boşanmaya sebebiyet veren vakıalarda taraflar eşit kusurludur. Boşanmaya sebep olan olaylarda eşit kusurlu eş yararına maddi ve manevi tazminata karar verilemez. Davacı erkek yararına Türk Medeni Kanunu’nun 174/1-2 maddesi koşulları oluşmamıştır. O halde davacı erkeğin maddi ve manevi tazminat isteğinin reddine karar vermek gerekirken, hatalı kusur belirlemesinin sonucu olarak yazılı şekilde hüküm kurulması doğru olmayıp, bozmayı gerektirmiştir.
                                4-Boşanma yüzünden yoksulluğa düşecek taraf, kusuru daha ağır olmamak koşuluyla geçimi için diğer taraftan mali gücü oranında süresiz olarak nafaka isteyebilir. Nafaka yükümlüsünün kusuru aranmaz. (TMK m.175) Toplanan delillerle, boşanmaya sebep olan olaylarda davalı kadının daha ağır kusurlu olmadığı, her hangi bir geliri ve malvarlığının bulunmadığı, boşanma yüzünden yoksulluğa düşeceği gerçekleşmiştir. O halde, davalı kadın yararına geçimi için uygun miktarda yoksulluk nafakası takdiri gerekirken isteğin reddi doğru görülmemiş, bozmayı gerektirmiştir. Yargıtay 2. HD 21.06.2021, 2021/3848 E., 2021/5053 K.


                                Boşanmanın fer’i niteliğinde bulunan maddi ve manevi tazminat, boşanma hükmünün kesinleşmesiyle muaccel hale geleceğine göre, faize bu tarihten itibaren hükmedilmesi gerekir. Yargıtay 2. HD 17.06.2013, 2013/5177 E., 2013/16828 K.


                                Tarafların eşit kusurlu olduklarının kabulü gerekir… Eşit kusur halinde tazminatlara hükmedilemez. Yargıtay 2. HD 11.06.2013, 2012/14737 E., 2013/16187 K.


                                Düğünde takılan takılar nedeniyle tazminat istenmesi boşanmanın eki niteliğindeki maddi tazminat niteliğinde değildir. Nispi harç tamamlattırılarak değerlendirilmesi gerekir. Yargıtay 2. HD. 12.06.2013, 2013/3880 E., 2013/16273 K.
                            </p>

                            <div class="spacer-30"></div>
                            <div class="tagcloud">
                                <a href="#">Boşanma</a>
                                <a href="#">Boşana Avukatı</a>
                                <a href="#">Boşanma Davası</a>
                                <a href="#">Boşanma Davası Ücreti</a>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT PREVIOUS POSTS -->
                </div>

                <div class="col-lg-3 col-md-4 sidebar right-sidebar">
                    <div class="sidebar-widget widget upcoming_events_widget">
                        <h3 class="widgettitle">Son Makaleler</h3>
                        <ul class="events-list events-list-compact">
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">11</div>
                                </div>
                                <a href="single-event.html"><strong>International Immigration Seminar</strong></a>
                                <span class="meta-data">Saturday, 10:00 AM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">18</div>
                                </div>
                                <a href="single-event.html"><strong>Cyber Crime Seminar</strong></a>
                                <span class="meta-data">Saturday, 12:00 PM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html"><strong>Financial Investigations and Enforcement Trends Seminar</strong></a>
                                <span class="meta-data">Friday, 01:00 PM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html"><strong>An Introduction to Angel Investing</strong></a>
                                <span class="meta-data">Friday, 04:00 PM</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>