
@{
    ViewBag.Title = "MakaleKizCocugu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="blog-grid-item">
                        <div class="grid-item-inner">
                            <div class="post-item-meta">
                                <div class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 16</a></div>
                                <i class="fa fa-clock-o"></i> 05 May, 2016
                            </div>
                            <div class="alert alert-warning"><div class="meta-data"><a href="#">Aile Hukuku</a></div></div>
                            <h2>2 Yaşındaki Kız Çocuğun Boşanan Anne-Baba İle Kişisel İlişkisi</h2>
                            <p>
                                Ana ve babadan her biri, diğerinin çocuk ile kişisel ilişkisini zedelemekten, çocuğun eğitilmesi ve yetiştirilmesini engellemekten kaçınmakla yükümlüdür. Kişisel ilişki sebebiyle çocuğun huzuru tehlikeye girer veya ana ve baba bu haklarını birinci fıkrada öngörülen yükümlülüklerine aykırı olarak kullanırlar veya çocuk ile ciddi olarak ilgilenmezler ya da diğer önemli sebepler varsa, kişisel ilişki kurma hakkı reddedilebilir veya kendilerinden alınabilir. (TMK md. 324)
                                Olağanüstü haller mevcutsa, çocuğun menfaatine uygun düştüğü ölçüde çocuk ile kişisel ilişki kurulmasını isteme hakkı diğer kişilere, özellikle hısımlarına da tanınabilir. Ana ve baba için öngörülen sınırlamalar üçüncü kişiler için kıyas yoluyla uygulanır. (TMK md. 325)
                            </p>
                            <p>
                                Velayet hakkına sahip olan davacı anne tarafından açılan kişisel ilişkinin yeniden düzenlenmesine yönelik davada; ortak çocukla baba arasında tesis edilen kişisel ilişkide, ortak çocuğun uzun süre babasını görmediğini, henüz iki yaşında olup anne bakım ve ilgisine muhtaç olduğunu, temmuz ayında bir ay boyunca çocuğun anneden ayrı ve baba yanında kalmasının çocuğa zarar vereceğini, çocuğun psikolojisini bozacağını belirterek, ortak çocukla baba arasındaki kişisel ilişkinin yatılı olmayacak şekilde yeniden düzenlenmesini talep etmiş, mahkemece; alınan uzman raporunda “Davalının kızı ile şahsi ilişki kurması hususunda bir engel görülmediği, çocuğun içinde bulunduğu yaş ve gelişim dönemi, bakımını birincil olarak sağlayan davacıyla arasındaki bağlanma ve davacıdan uzun süreli ayrılmasının çocuk üzerinde yaratabileceği olumsuz etkiler, bu zamana kadar davalının kızı ile görüşme süreleri, Başak’ın henüz okul dönemi içerisinde bulunmayışı, davalının çalışma temposu ve tarafların ayrı şehirlerde yaşıyor oluşları hususları birlikte değerlendirildiğinde müşterek çocuk Başak ve davalı arasındaki şahsi ilişkinin 15 günde 1, bir gece, yaz tatilinde 15 gün, dini bayramların 1 günü yatılı olarak ve babalar gününde yatısız olacak şekilde kurulmasının çocuğun menfaatine olacağı” belirtildiği gerekçesiyle mahkemece, İstanbul 3. Aile Mahkemesi’nin 2017/119 esas, 2018/125 karar sayılı kararıyla verilen kişisel ilişkinin değiştirilerek ortak çocuk ile baba arasında her ayın 1. ve 3. haftası cumartesi günü saat 10.00’dan pazar günü saat 17.00’ye kadar, dini bayramların 2.günü saat 10.00’dan 3.günü saat 17.00’ye kadar, babalar günü saat 10.00’dan saat 17.00’ye kadar ve her yıl 1 Temmuz saat 10.00’dan 15 Temmuz saat 17.00’ye kadar kişisel ilişki tesisine karar verilerek, mevcut kişisel ilişki sınırlandırılmış, kararın davalı tarafından istinaf edilmesi üzerine, incelemeyi yapan bölge adliye mahkemesince davalının istinaf talebinin esastan reddine karar verilmiştir. Kişisel ilişki sebebiyle çocuğun huzuru tehlikeye girer veya ana ve baba bu haklarını Türk Medeni Kanununun 324. maddesinin (1.) fıkrasında gösterilen yükümlülüklerine aykırı olarak kullanırlar veya çocuk ile ciddi olarak ilgilenmezler ya da diğer önemli sebepler varsa, kişisel ilişki kurma hakkı reddedilebilir veya kendilerinden alınabilir (TMK m. 324/2). 
                                Tarafların müşterek çocuğu 2016 doğumludur. Yapılan soruşturma ve toplanan delillerden kendisine kişisel ilişki hakkı tanınan davalının, bu hakkını amacına aykırı olarak kullandığını kabule yeterli delil mevcut olmadığı gibi, kişisel ilişki sebebiyle çocuğun huzurunun ciddi olarak tehlikede olduğuna ilişkin bir delil de bulunmamaktadır.
                                Çocuk ile ana ve babası, düzenli kişisel ilişki elde etme ve bu ilişkiyi sürdürme hakkına sahiptir. 
                                Ana ve babası ayrı olan çocuğun ebeveynleriyle düzenli kişisel ilişki kurması ve bu ilişkiyi sürdürmesi çocuk için bir hak olduğu gibi, ana ve baba için de haktır. 
                                Kişisel ilişki sadece çocuğun yüksek yararı gerektirdiği takdirde kısıtlanabilir veya kaldırılabilir. 
                                O halde, davacının kişisel ilişkinin yeniden düzenlenmesi talebinin reddine karar verilecek yerde ortak çocuk ile baba arasındaki kişisel ilişki sınırlandırılarak yazılı şekilde hüküm kurulması doğru olmayıp bozmayı gerektirmiştir. – Yargıtay 2. HD. 16.03.2021, 2021/712 E., 2021/2287 K.
                            </p>

                            <div class="spacer-30"></div>
                            <div class="tagcloud">
                                <a href="#">Boşanma</a>
                                <a href="#">Kişisel İlişki</a>
                                <a href="#">Müşterek Çocuk</a>
                                <a href="#">Ortak Çocuk</a>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT PREVIOUS POSTS -->
                </div>

                <div class="col-lg-3 col-md-4 sidebar right-sidebar">
                    <div class="sidebar-widget widget upcoming_events_widget">
                        <h3 class="widgettitle">Son Makaleler</h3>
                        <ul class="events-list events-list-compact">
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">18</div>
                                </div>
                                <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi"><strong>2 Yaşındaki Kız Çocuğun Boşanan Anne-Baba İle Kişisel İlişkisi</strong></a>
                                <span class="meta-data">Saturday, 12:00 PM</span>
                                <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="bosanmada-maddi-ve-manevi-tazminat"><strong>Boşanmada Maddi ve Manevi Tazminat</strong></a>
                                <span class="meta-data">Friday, 01:00 PM</span>
                                <a href="bosanmada-maddi-ve-manevi-tazminat"><strong>Av. Arb. Pınar DENKTAŞ</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>