
@{
    ViewBag.Title = "MakaleAykiri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="blog-grid-item">
                        <div class="grid-item-inner">
                            <div class="post-item-meta">
                                <div class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 16</a></div>
                                <i class="fa fa-clock-o"></i> 05 May, 2016
                            </div>
                            <div class="alert alert-warning"><div class="meta-data"><a href="#">Aile Hukuku</a></div></div>
                            <h2>Boşanma Davasında Kanuna Aykırı Elde Edilen Deliller: Eşlerin Birbirlerine Karşı Özel Hayat Alanlarını İhlal Eder Mi?</h2>
                            <p>
                                14 Ekim 2021 Tarihli ve 31628 Sayılı Resmî Gazete’de yayımlanan 07.09.2021 tarihli, 2018/30296 sayılı karar ile Anayasa Mahkemesi, Yargıtay’ın son yıllardaki ‘hukuka aykırı yollardan elde edilen delilerin boşanma davalarında delil vasfının, kişinin dayandığı vakıaları başkaca bir yolla ispatlamasının mümkün olup olmadığı hallerinin gözetilerek değerlendirilmesi gerektiği’ yönündeki içtihatına yeni bir boyut kazandırmıştır.

                                Somut olaya özgü değerlendirmesi ile Anayasa Mahkemesi;

                                “Somut olayda başvurucunun hangi kişisel verilerinin elde edildiği, bu verilerde değişiklik yapılıp yapılmadığı, verilere ne kadar süre ile ulaşıldığı hususlarında hiçbir araştırma yapılmadığı gibi gerekçede başvurucunun bu iddialarının hangi sebeplerle karşılanmadığı konusunda bir açıklama bulunmadığı da görülmüştür.”

                                “Derece mahkemelerinin eşlerin birbirlerine karşı özel hayat alanlarının bulunmadığı sonucunu doğuracak mahiyette yaklaşımının anayasal güvencelere aykırı olduğu açıktır.”

                                “Dolayısıyla yargılama sürecinde olayın aydınlatılmasına yönelik esaslı iddiaların araştırılmaması, bu suretle kovuşturmanın derinleştirilmemesi, yasal dayanağı gösterilmeyen gerekçelerle sonuca ulaşılması nedeniyle anayasal hakları güvence altına alacak şekilde etkili bir yargısal sistem kurma yükümlülüğüne uygun hareket edildiği söylenemeyecektir.

                                şeklinde kararı ile ilk derece mahkemesinin hangi kişisel verilerin elde edildiği, bu verilerde değişiklik yapılıp yapılmadığı ve verilere ne kadar süre ile ulaşıldığı hususunda inceleme yapmaksızın verdiği beraat kararının Anayasal haklara aykırılık oluşturduğuna kanaat getirmiştir.

                                Esasen Anayasa Mahkemesi bu kararı ile Yargıtay’ın içtihatını net bir çerçeve içerisine almıştır; eşlerin birbirlerine karşı özel hayat alanları bulunmaktadır ve bu alanın ihlali cezalandırmayı gerektirir. Bununla birlikte anılan karar sonrasında ilk derece mahkemelerinin özel hayatın gizliliği ve haberleşmenin ihlali gibi meseleleri derinlemesine ve her yönüyle inceleyecekleri kesindir.
                            </p>

                            <div class="spacer-30"></div>
                            <div class="tagcloud">
                                <a href="#">Anayasa Mahkemesi</a>
                                <a href="#">Boşana Kanununa Aykırı Deliller</a>
                                <a href="#">Eşlerin Birbirlerine Karşı Özel Hayat Alanları</a>
                                <a href="#">Kanuna Aykırı Elde Edilen Deliller</a>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT PREVIOUS POSTS -->
                </div>

                <div class="col-lg-3 col-md-4 sidebar right-sidebar">
                    <div class="sidebar-widget widget upcoming_events_widget">
                        <h3 class="widgettitle">Son Makaleler</h3>
                        <ul class="events-list events-list-compact">
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">11</div>
                                </div>
                                <a href="single-event.html"><strong>International Immigration Seminar</strong></a>
                                <span class="meta-data">Saturday, 10:00 AM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">18</div>
                                </div>
                                <a href="single-event.html"><strong>Cyber Crime Seminar</strong></a>
                                <span class="meta-data">Saturday, 12:00 PM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html"><strong>Financial Investigations and Enforcement Trends Seminar</strong></a>
                                <span class="meta-data">Friday, 01:00 PM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html"><strong>An Introduction to Angel Investing</strong></a>
                                <span class="meta-data">Friday, 04:00 PM</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>