
@{
    ViewBag.Title = "NisanBozulmasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="blog-grid-item">                        
                        <div class="grid-item-inner">
                            <div class="post-item-meta">
                                <div class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 16</a></div>
                                <i class="fa fa-clock-o"></i> 05 May, 2016
                            </div>
                            <div class="alert alert-warning"><div class="meta-data"><a href="#">Aile Hukuku</a></div></div>
                            <h2>Nişanın Bozulmasından Kaynaklanan Davalar: Maddi Tazminat, Manevi Tazminat, Hediyelerin İadesi</h2>
                            <p>
                                Bir erkek ve bir kadın arasında karşılıklı evlenme vaadi nişanlanmadır (TMK m. 118/1) (Eş cinsler arası nişan ve evlilik bu madde ile kısıtlandırılmıştır). Bu vaad sözlü veya yazılı yapılabilir, ya da nişan yüzüğü takılması gibi davranışlarla da olabilir. Başkaca kişiler tarafından evlenmeye yönelik vaadler veya beyanlar nişanın gerçekleşmesine yol açmaz; nişanlanacak olan kişilerin vaadi geçerlidir. Yani anne-baba gibi kişilerin verdiği sözlerle nişanlanma gerçekleşmez.

                                Nişanlanma bazı hallerde geçersiz sayılır: hukuka, ahlaka, kişilik haklarına, emredici hükümlere aykırı nişanlar, evli birinin nişanlanması, akıl hastalığı, yakın derecede kan veya kayın hısımlığı, evlatlık ilişkisi. Nişanlanmanın geçerli olması için tam ehliyetli veya sınırlı ehliyetli (yasal temsilcisi olanlar) olmak gerekir. Sınırlı ehliyetsizlerde de yasal temsilcinin rızası aranmaz ancak sınırsız ehliyetsiz bu durumda nişanlanmanın mali sonuçlarından sorumlu olmaz.

                                Nişanlanma ile evliliği gerçekleştirme yükümlülüğü ve sadakat yükümlülüğü başlar. Ancak nişanlanma, evliliğe zorlama hakkını vermez (TMK m. 119/1). Evlenmeden kaçınma hali için öngörülen cayma tazminatı veya ceza şartı dava edilemez; ancak yapılan ödemeler geri de istenemez (TMK m. 119/2). Nitekim, alacaklıya, borçluyu dava yoluyla ifaya zorlama yetkisi tanınmadığından, evlilikten kaçınma amacıyla kararlaştırılan cayma tazminatı ya da cezai şart dolayısıyla ortaya çıkan borcun, eksik borç niteliğinde olduğu kabul edilmektedir.

                                Nişanlılar, bazı durumlarda kanunda tanınan haklardan yararlanma bakımından “yakın” olarak kabul edilirler. Nişanlı; yakınlarından birinin hayatına, namusuna, onuruna yönelik ağır ve yakın tehlike yaratma tehdidi ile korkutularak evliliğe zorlanan kişinin, tehdit sona erdikten sonra evliliği iptal etme hakkının düzenlendiği TMK m.151 bakımından; miras bırakanın miras bırakanın yakınlarından birine karşı ağır bir suç işlenmesi halinde failin mirastan çıkarılmasına ilişkin TMK m.510 bakımından “yakın” sayılır.

                                Nişanlı, iradeyi sakatlayan nedenlerden biri olan korkutmaya ilişkin olarak korkutulanın yakınlarına yönelik ağır ve yakın bir tehlike oluşturacak şekilde zarar vermekle tehdit edilmesinin iradenin sakatlanması nedeni olmasına ilişkin TBK m.37 bakımından da “yakın” kabul edilmekte olup, TBK m.53/b.3 kapsamında destekten yoksun kalma tazminatı talep etme hakkına da sahiptir. Bununla birlikte nişanlılar arasında hısımlık kurulmamaktadır. Nişanlının tanıklıktan çekinme hakkı bulunduğu gibi (HMK m. 248/f.1/a), hâkim de nişanlısının davasına bakmakta yasaklıdır (HMK m.34/f.1/e) Nişanlılardan birisinin haksız bir eylem sonrası hayatını kaybetmesi halinde destekten yoksun kalma sebepli dava veya manevi tazminat davası açılabilir.

                                Nişanın haklı bir sebep olmaksızın bozulması halinde, kusurlu olan taraf bunun sonuçlarına katlanır. Hediyelerin iadesinde ise kusur aranmaz. Nişanın bozulmasından kaynaklanan davaların zamanaşımı süresi 1 yıldır. Aile Mahkemeleri görevlidir. Yetkili mahkeme genel kurallara göre belirlenir; davalının yerleşim yeri mahkemesidir. Davalar nisbi harca tabidir. Faizler nişanın bozulma tarihinden itibaren işletilir. Delil olarak her türlü delil, özellikle tanık beyanı, video ve fotoğraflar kullanılabilir.

                                Nişanın Bozulması Sebebiyle Açılabilecek Davalar:
                                Nişanın Bozulması Sebebiyle Maddî tazminat (TMK m. 120)
                                Nişanlılardan biri haklı bir sebep olmaksızın nişanı bozduğu veya nişan taraflardan birine yükletilebilen bir sebeple bozulduğu takdirde; kusuru olan taraf, diğerine dürüstlük kuralları çerçevesinde ve nişanlanmanın geçerli olduğuna güvenerek evlenme amacıyla yaptığı harcamalar ve katlandığı maddî fedakârlıklar karşılığında uygun bir tazminat vermekle yükümlüdür. Örneğin düğün salonu için ödenen bedel, balayı hazırlıkları, mobilya ve beyaz eşya alınması gibi.

                                Talep edilecek maddi tazminat, müspet zararın değil, sözleşmeye olan güvenin boşa çıkması, evliliğin gerçekleşmemesi nedeniyle ortaya çıkan menfi zararın talebine ilişkindir. Müspet zararın tazmininin temelinde sözleşmenin ifasından beklenen yararın elde edilememesi nedeniyle doğan zarar olduğu için müspet zararın tazmini talep edilseydi kişiler evlenmeye zorlanmış ve dolayısıyla TMK m.119/f.1 düzenlenmesi ile çelişme olacaktı.

                                Tazminat istemeye hakkı olan tarafın ana ve babası veya onlar gibi davranan kimseler de, aynı koşullar altında yaptıkları harcamalar için uygun bir tazminat isteyebilirler.

                                Nişanın Bozulması Sebebiyle Manevî tazminat (TMK m. 121)
                                Nişanın bozulması yüzünden kişilik hakkı saldırıya uğrayan taraf, kusurlu olan diğer taraftan manevî tazminat olarak uygun miktarda bir para ödenmesini isteyebilir. Ancak manevi tazminat talebi için sırf nişanın bozulmasından doğan olağan bir üzüntü yeterli olmayıp, talepte bulunan nişanlının kişilik hakkı ihlal edilmiş olmalı ve üzüntünün şiddeti olağandan fazla olmalıdır. Dikkat edilmelidir ki, manevi tazminat talep edecek tarafın tamamen kusursuz olması gerekmez. Diğer tarafın kusurunun daha ağır olması yeterlidir.

                                İncelediğimiz Yargıtay ilamlarının genelinde nişanın bozulmasıyla ilgili manevi tazminat miktarı 2.000 – 5.000 TL civarında değerlendirilmiştir. Söz konusu manevi tazminat miktarı örnek olması bakımından belirtilmiştir; tazminat elbette her somut olaya göre ayrıca değerlendirilir. Manevi tazminat bir tarafın fakirleşmesine neden olmayacak ve diğer taraf için de zenginleşme aracı olacak nitelikte olmamalıdır. Makalemizin devam eden kısımlarında manevi tazminatın belirlenmesine ilişkin örnek Yargıtay kararları sunulmuştur.

                                Nişanın Bozulması Sebebiyle Hediyelerin Geri Verilmesi (TMK m. 122)
                                Nişanlılık evlenme dışındaki bir sebeple sona ererse, nişanlıların birbirlerine veya ana ve babanın ya da onlar gibi davrananların, diğer nişanlıya vermiş oldukları alışılmışın dışındaki (mutad dışı) hediyeler, verenler tarafından geri istenebilir. Nişanın bozulması halinde alışılmışın dışında olan hediyeler, “özel bir sebepsiz zenginleşme hükmü”64 olarak kabul edilen TMK m.122 kapsamında, veren tarafından geri istenebilir. Geri verilmesi mümkün olmayan hediyelerin iadesi ise, sebepsiz zenginleşme hükümlerine göre gerçekleştirilir

                                Hediyelerin geri verilmesi için nişanın bozulmasında tarafların kusurlu olup olmamasının bir önemi yoktur. Tüketilmesi kolay giysi, kuaför gideri ve bu gibi hediyelerden ziyade, ziynet eşyaları, altın ve takı, cep telefonu, bilgisayar gibi değerli hediyeler geri istenebilir. Yargıtay’a göre nişan yüzüğü mutad hediyedir ve iadesi istenemez. Hediyelerin geri istenebilmesi için nişanlılık sebebiyle veya süresince verilmesi gerekir. Davada, ziynetlerin nişanın bozulduğu tarihteki bedellerinin tesbiti gerekir. Hediyelerin iadesi davasında kız tarafından takılmış olan altınlar ve verilen hediyeler kız tarafında kalır, diğer takıların iadesine erkek tarafına iadesine karar verilir.

                                Başlık parası ile ilgili Yargıtay ve doktrinde farklı görüşler bulunmaktadır. Yargıtay’ın, başlık parasının hukuka ve ahlaka aykırı olduğuna, dolayısıyla hükümsüz olduğuna ilişkin kararları bulunmaktadır. Geri istenememe” başlıklı TBK m.81 hükmüne göre; “hukuka ve ahlaka aykırı bir sonucun gerçekleşmesi amacıyla verilen şey geri istenemez. Ancak, açılan davada hâkim, bu şeyin Devlete mal edilmesine karar verebilir”. Ayrıca, Türk örf ve âdetinde ana-babanın izninin alınması geleneği bulunmasına rağmen, ana-babanın kızlarının evlenmesine izin vermenin karşılığı olarak para talep etmesi, aynı zamanda kişilik hakkının ihlali anlamına gelir. Bu nedenle, başlık parasına ilişkin sözleşmeler, bu açıdan da TBK m.27 uyarınca kesin hükümsüzdür. Kişilik hakkını ihlal eden sözleşmelerin çoğu aynı zamanda ahlaka da aykırıdır. Dolayısıyla başlık parası geri istenebilen hediyelerden değildir.



                                Yargıtay Kararları Işığında Nişanın Bozulması ile ilgili Davalarda Dikkat Edilmesi Gereken Hususlar:


                                Nişanın Geçersiz Olması bakımından Yargıtay İçtihatları:
                                Nişan ve imam nikahı sonrasında düğün yaparak birlikte yaşamaya başlayan çiftlerin ayrılıklarına aile hukuku değil borçlar kanunu uygulanır ve görevli mahkemeler Asliye mahkemeleridir (YHGK 03.06.2009, 2009/3-174 E., 2009/235 K.).
                                Evli kişinin nişanlanması söz konusu olamayacağından, söz konusu taraflar arasındaki davalarda görevli mahkeme Asliye Hukuk Mahkemeleridir.
                                İspat Yükü bakımından Yargıtay İçtihatları:
                                “Vasıflı ikrarda kanıtlama yükümlülüğü, ikrar eden tarafa değil, vakıayı ileri süren tarafa aittir… davaya konu paraların nişan hediyesi olarak gönderildiği yolundaki iddiasını kanıtlamakla yükümlüdür… Öte yandan, Borçlar Kanunu’nun 457. vd. maddelerinde düzenlenmiş olan havale, hukuksal nitelikçe bir ödeme vasıtasıdır. Eş söyleyişle, havalenin, mevcut bir borcun ödenmesi amacıyla yapıldığı yolunda yasal karine mevcuttur. Bu yasal karinenin tersini (havalenin borcun ödenmesinden başka bir amaçla yapıldığını) ileri süren havaleci (muhil), bu iddiasını kanıtlamakla yükümlüdür. Somut olayda, davacı bu yasal karine karşısında, davalı tarafa yapılan dava konusu havalelerin, nişan hediyesi olarak gönderildiğini kanıtlama yükümlülüğü altındadır… Başka bir ifadeyle, havale kavramından hareketle yapılacak değerlendirmeye göre de, somut olayda kanıtlama yükümlülüğü davacı tarafa aittir…” (Y. 3. HD, 26.02.2013, 2013/1142 E., 2013/3036 K.).
                                “Hediyelerin verildiği ve iade edilmediği hususu her türlü delil ile ispat edilebilir. Nişan nedeniyle kendisine verildiğini kabul ettiği hediyelerin iade edildiğini ileri süren davalı, bunu kanıtlamalıdır.Ancak davalının verildiğini kabul etmediği hediyelerin verildiğini ispat yükü kuşkusuz davacıdadır.” (Yargıtay 3. HD, 17.03.2015, 2014/18045 E., 2015/4348 K.).
                                “Somut olayda; mahkemece, davaya konu edilen ziynet eşyalarından 2 adet bilezik ile 2 adet gerdanlık seti yönünden; davalının bu ziynet eşyalarının davacı tarafa geri verildiğine dair beyanları karşısında davacının söz konusu ziynet eşyalarının geri alınmadığını dosya kapsamı itibariyle ispatlayamadığı, davalıya yemin teklifinde de bulunmadığı, bu sebeple söz konusu ziynet eşyaları yönünden davanın ispatlanamadığı gerekçesiyle 2 bilezik ve 2 adet gerdanlık seti yönünden davanın reddine karar verilmiş ise de; söz konusu ziynet eşyalarının nişanda takıldığı tanık beyanları ve bilirkişi raporu ile sabit olup davalının da kabulünde olduğundan, bu durumda ispat yükü artık söz konusu ziynet eşyalarını nişan bozulduktan sonra davacı tarafa iade ettiğini iddia eden davalı taraftadır. Mahkemece, ispat yükü ters çevrilerek, davacının söz konusu ziynet eşyalarını almadığını ispat edemediği gerekçesiyle 2 adet bilezik ve 2 adet gerdanlık seti yönünden davanın ispatlanamadığı gerekçesiyle reddi kararı usul ve yasaya aykırı olup bozmayı gerektirmiştir.” (Yargıtay 3. HD, 02.10.2018, 2016/21682 E., 2018/9357 K.).
                                Manevi Tazminat bakımından Yargıtay İçtihatları:
                                “Hakim manevi tazminatın miktarını tayin ederken saldırı teşkil eden eylem ve olayın özelliği yanında tarafların kusur oranını, ekonomik durumlarını da dikkate almalıdır. Miktarın belirlenmesinde her olaya göre değişebilecek özel hal ve şartların bulunacağı da gözetilerek takdir hakkını etkileyecek nedenleri karar yerinde objektif olarak göstermelidir Çünkü kanunun takdir hakkı verdiği hususlarda hakimin hukuka ve hakkaniyete göre hüküm vereceği Türk Medeni Kanunu’nun 4. Maddesinde belirtilmiştir… Hükmedilecek para, zarara uğrayanda manevi huzuru doğurmayı gerçekleştirecek tazminata benzer bir fonksiyonu olan özgün bir nitelik taşır. Bir ceza olmadığı gibi malvarlığı hukukuna ilişkin bir zararın karşılanmasını da amaç edinmemiştir. O halde bu tazminatın sınırı onun amacına göre belirlenmelidir. Takdir edilecek miktar, mevcut halde elde edilmek istenilen tatmin duygusunun etkisine ulaşmak için gerekli olan kadar olmalıdır… Hal böyle olunca; nişanın bozulma şekli, davalının (karşı davacı) olaydan etkilenme derecesi, olayın özellikleri, ekonomik olgular ve yukarıdaki ilkeler gözetildiğinde, mahkemece davalı (karşı davacı) için takdir edilen 5.000 TL manevi tazminat miktarı fazla bulunmuş, mahkemece; davalı (karşı davacı) lehine daha alt seviyede manevi tazminata hükmedilmesi için hükmün bozulmasına karar verilmiştir.” (Yargıtay 3. HD, 06.05.2013, 2013/4954 E., 2013/7356 K.).
                                “Kural olarak nişanın bozulması yüzünden kişilik hakkı saldırıya uğrayan taraf, kusurlu olan diğer taraftan manevi tazminat olarak uygun miktarda bir para ödenmesini isteyebilir. (TMK m. 121) Nişanın bozulmasından dolayı davacı lehine manevi tazminata hükmedilebilmesi için, nişanın haksız olarak bozulmasının yanında, davacının kişilik haklarının da ihlal edilmiş olması gerekir… Nişanın bozulması, doğal olarak taraflarda değişik şiddet ve ölçülerde de olsa üzüntü yaratır ve menfaat ihlaline neden olur. Ancak sırf, nişanın bozulmasından dolayı duyulan üzüntü ve hayal kırıklığına uğranılmış olması manevi tazminata hükmedilmesi için yeterli değildir. Doğal olan üzüntü ve menfaat ihlali manevi tazminata esas alınmaz. Zira, manevi tazminata karar verilebilmesi için istemde bulunan nişanlının kişisel haklarının fahiş olarak zarara uğramış olması gerekir. Bu fahiş zararın somut olay ve nedenlere dayanılarak ispat edilmesi gerekir… Somut olayda; nişanı, asıl davanın davacısı Y.. E.. bozmuştur. Her ne kadar davacı Y.. E.., nişanı davalı (birleşen dosyanın davacısı) Emine’nin kusurlu hareketleri sonucu bozmak zorunda kaldığını iddia etmiş ise de, davalı Emine’nin kusurunu ve nişanın bozulmasından dolayı kişilik haklarının fahiş olarak zarara uğradığını usulünce ispat edememiştir.” (Yargıtay 3. HD, 17.03.2015, 2014/18045 E., 2015/4348 K.).
                                “Temyize konu uyuşmazlık konusunda; davacı …’in iş yerinde birlikte çalıştığı bayan müdüresi ile iş çıkışı ailesinin bilgisi dahilinde dışarıda çay içmeye gitmesi davalı ve ailesince “dul bir bayanla nasıl zaman geçirirsin?” şeklinde tepki gösterilip davacı ile görüşmeyi reddederek nişanı bozdukları anlaşılmaktadır. Bu hali ile davalının nişanı bozmasında kusurlu olduğunun kabulü gerekir. Bu itibarla düğün davetiyesi basılan, düğün salonu kiralanan ve düğüne 9 gün kala nişanı bozma sebebini dul bir bayanla iş çıkışı çay içmeye gitmesi gösterilerek davacının ahlaksızlıkla suçlanıp küçük düşürülmesine neden olduğu olayda manevi tazminat koşulları bulunduğundan tazminata hükmedilmesi gerekirken reddine karar verilmesi doğru olmamış, bu husus da bozmayı gerektirmiştir.” (Yargıtay 3. HD, 26.04.2018, 2016/17785 E., 2018/4632 K.).
                                “Tarafların sosyal ve ekonomik durumları araştırılmış, davacının 1983 doğumlu olup çalışmadığı, ev kızı olduğu, davalı ile birlikteliğinden olan 13.01.2011 doğumlu çocuğu ile birlikte kendi ablasının yanında kaldığı, gelirinin olmayıp geçimini ablası ve eniştesinin sağladığı, davalının ise 1981 doğumlu olup pazarlamacı olarak asgari ücretle çalıştığı ve 31.12.2010 tarihinde başka birisiyle evlendiği tespit edilmiştir… Bu durumda, olay tarihi, oluş biçimi, kusur durumu, olaydan etkilenme derecesi, olayın özellikleri, ekonomik olgular ve yukarıdaki ilkeler gözetildiğinde mahkemece takdir olunan 60.000 TL manevi tazminat miktarı bozulan dengenin biraz olsun giderilmesi için kabul edilmiş olan bir tatmin veya telafi şekli olan giderimin saldırının niteliği ve tarafların ekonomik ve sosyal durumları dikkate alındığında fahiş olduğundan kurulan hüküm bu sebeplerle doğru görülmemiştir. (Prof.Dr.Tekinay S.S. Aile Hukuku 1990 sh.262, HGK. 14.04.2010 gün ve 2-203/220 Karar)” (Yargıtay 3. HD, 08.05.2013, 2013/4453 E., 2013/7653 K.).
                                “Mahkemece, bankada memur olarak çalışan davalının, nişanlısı davacının kızlığını rızası ile de olsa iğfal ettikten sonra olayı annesine anlatıp dedikodulara sebebiyet verdiği; bu olaydan sonra, tavır ve davranışını değiştirerek nişanlısına şiddet ve darp uyguladığı; böylece davacının kişilik haklarına saldırıda bulunduğu kabul edilerek…” (Yargıtay 3. HD, 29.01.2011, 2011/9920 E., 2011/19012 K.)
                                Maddi Tazminat yönünden Yargıtay İçtihatları:
                                “Nişanlılardan biri haklı bir sebep olmaksızın nişanı bozduğu veya nişan taraflardan birine yükletilebilen bir sebeple bozulduğu takdirde; kusuru olan taraf, diğerine dürüstlük kuralları çerçevesinde ve evlenme amacıyla yaptığı harcamalar ve katlandığı maddi fedakarlıklar karşılığında uygun bir tazminat vermekle yükümlüdür. Aynı kural nişan giderleri hakkında da uygulanır. (TMK. m. 120)… Davacı yanın isteyeceği tazminat menfi tazminattır. Başka bir anlatımla nişanlanma olmasaydı uğranılmayacak olan parasal zarar istenebilir. Menfi tazminatın kapsamı yasada gösterilmiş olup, bunlar, dürüstlük kuralları çerçevesinde yapılan harcamalar, evlenme amacıyla yapılan harcamalar ve evlenme amacıyla katlanılan maddi fedakarlıklardır… Maddi tazminat istenebilmesi için nişan haklı bir sebep olmaksızın bozulmuş olmalı ya da nişan taraflardan birine yükletilebilen bir sebeple bozulmuş olmalıdır. Davacı iddiasını kanıtlarsa uygun bir tazminata hükmedilir. Davacı iddiasını her türlü delille ispat edebilir… Somut olayda davacı taraf, nişanın bozulması nedeniyle maddi zarar uğradığını iddia ederek maddi tazminat isteminde bulunmuş, mahkemece davacının maddi tazminat isteminin kısmen kabulüne karar verilmiş ise de, davacı taraf, nişanın davalının kusurlu davranışları sonucu bozulduğunu ispat edememiştir… Kabule göre de; tazminatın nelere ilişkin olduğu bulunduğunun miktar ve tutarlarıyla birlikte tek tek açıklanması gerekirken, mahkemece maddi zararın kapsamı davacıya açıklattırılmadan karar verilmiştir.” (Yargıtay 3. HD, 17.03.2015, 2014/18045 E., 2015/4348 K.)
                            </p>

                            <div class="spacer-30"></div>
                            <div class="tagcloud">
                                <a href="#">Başlık Parası</a>
                                <a href="#">Başlık Parası Tazminat</a>
                                <a href="#">Nişanın Bozulması</a>
                                <a href="#">Nişanın Bozulması İspat Yükü</a>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT PREVIOUS POSTS -->
                </div>

                <div class="col-lg-3 col-md-4 sidebar right-sidebar">                    
                    <div class="sidebar-widget widget upcoming_events_widget">
                        <h3 class="widgettitle">Son Makaleler</h3>
                        <ul class="events-list events-list-compact">
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">11</div>
                                </div>
                                <a href="single-event.html"><strong>International Immigration Seminar</strong></a>
                                <span class="meta-data">Saturday, 10:00 AM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jun</div>
                                    <div class="event-day">18</div>
                                </div>
                                <a href="single-event.html"><strong>Cyber Crime Seminar</strong></a>
                                <span class="meta-data">Saturday, 12:00 PM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html"><strong>Financial Investigations and Enforcement Trends Seminar</strong></a>
                                <span class="meta-data">Friday, 01:00 PM</span>
                            </li>
                            <li>
                                <div class="event-date">
                                    <div class="event-month">Jul</div>
                                    <div class="event-day">01</div>
                                </div>
                                <a href="single-event.html"><strong>An Introduction to Angel Investing</strong></a>
                                <span class="meta-data">Friday, 04:00 PM</span>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>