
@{
    ViewBag.Title = "Pınar Denktaş - Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Hero Area -->
<div class="hero-area">
    <div class="page-header have-submenu">
        <div class="container">
            <a href="#" class="btn btn-primary btn-dark btn-ghost pull-right">İletişime Geç</a>
            <h1>Av. Arb. Pınar Denktaş</h1>
        </div>
    </div>
</div>
<div class="utility-bar">
    <div class="container">
        <ul class="template-submenu">
            <li><a href="/pinar-denktas">Profil</a></li>
            <li><a href="/yazarin-yazilari">Makaleleri</a></li>
            <li><a href="/uzmanlik-alanlari">Uzmanlık Alanları</a></li>
            <li><a href="/iletisim-formu">İletişim Formu</a></li>
        </ul>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Assets/images/allimages/av_arb_pinar_denktas.png" alt="">
                    <div class="spacer-20"></div>
                    <a href="mailto:pdenktas@denktaskurtoglu.av.tr" class="basic-link pull-right">Email</a>
                    <ul class="social-icons social-icons-colored social-icons-inverted">
                        <li class="facebook"><a href="https://www.facebook.com/pdenktas" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/PinarDenktas" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/pinar_denktas/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="youtube"><a href="https://www.youtube.com/channel/UCXUEuecRrjo3JUMdx9eKqxQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/in/pinar-denktas-ll-m-99099027/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h3><i class="accent-color">Av. Arb.</i> Pınar Denktaş</h3>
                    <p class="lead">Eğitim</p>
                    <ul>
                        <li>University of Manchester, LL.M,</li>
                        <li>Doğu Akdeniz Üniversitesi</li>
                        <li>Robert Kolej</li>
                    </ul>
                    <p class="lead">Üyelik</p>
                    <ul>
                        <li>İstanbul Barosu (2010)</li>
                        <li>Kuzey Kıbrıs Türk Barolar Birliği (2017)</li>
                    </ul>
                    <p class="lead">Yabancı Dil</p>
                    <ul>
                        <li>İngilizce</li>
                    </ul>
                    <p class="lead">Uzmanlık Alanları</p>
                    <ul>
                        <li>Aile Hukuku, Miras Hukuku, Yabancılar Hukuku, KKTC Hukuku, Arabuluculuk</li>
                    </ul>
                </div>
            </div>
            <div class="spacer-50"></div>
        </div>
    </div>
</div>


