<!DOCTYPE HTML>
<html class="no-js" lang="tr">
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title - Denktaş | Kurtoğlu Hukuk Bürosu</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/vendor/magnific/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/vendor/owl-carousel/css/owl.carouse    l.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/vendor/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <link href="~/Assets/css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
    <!-- Color Style -->
    <link href="~/Assets/colors/color1.css" rel="stylesheet" type="text/css">
    <!-- SCRIPTS
      ================================================== -->
    <script src="~/Assets/js/modernizr.js"></script><!-- Modernizr -->
</head>
<body class="home header-style1">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    @Html.Partial("Partial/_Header")
    @RenderBody()
    @Html.Partial("Partial/_Footer")
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="~/Assets/js/jquery-2.2.3.min.js"></script> <!-- Jquery Library Call -->
    <script src="~/Assets/vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- Maginific Popup Plugin -->
    <script src="~/Assets/js/ui-plugins.js"></script> <!-- UI Plugins -->
    <script src="~/Assets/js/helper-plugins.js"></script> <!-- Helper Plugins -->
    <script src="~/Assets/vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
    <script src="~/Assets/js/bootstrap.js"></script> <!-- UI -->
    <script src="~/Assets/js/init.js"></script> <!-- All Scripts -->
    <script src="~/Assets/vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>