<!-- Site Footer -->
<div class="site-footer">
    <div class="container">
        <div class="row footer-widgets-area">
            <div class="col-md-6 col-sm-4">
                <div class="widget footer_widget widget_links">
                    <h4 class="widgettitle">Hızlı Linkler</h4>
                    <ul>
                        <li>
                            <a href="http://www.adalet.gov.tr/">T.C. Adalet Bakanlığı</a>
                        </li>
                        <li>
                            <a href="http://www.istanbulbarosu.org.tr/">İstanbul Barosu</a>
                        </li>
                        <li>
                            <a href="http://www.rekabet.gov.tr/">Rekabet Kurumu</a>
                        </li>
                        <li>
                            <a href="http://www.bddk.org.tr/">Bankacılık Düzenleme ve Denetleme Kurumu</a>
                        </li>
                        <li>
                            <a href="http://www.spk.gov.tr/">Sermaye Piyasası Kurulu</a>
                        </li>
                        <li>
                            <a href="http://www.btk.gov.tr/">Bilgi Teknolojileri ve İletişim Kurumu</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://www.yargitay.gov.tr/">Yargıtay Başkanlığı</a>
                        </li>
                        <li>
                            <a href="https://www.danistay.gov.tr/">Danıştay Başkanlığı</a>
                        </li>
                        <li>
                            <a href="https://www.anayasa.gov.tr/tr/anasayfa/">Anayasa Mahkemesi</a>
                        </li>
                        <li>
                            <a href="https://www.barobirlik.org.tr/">Türkiye Barolar Birliği</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="widget footer_widget widget_recent_posts">
                    <h4 class="widgettitle">Son Makaleler</h4>
                    <ul>
                        <li>
                            <a href="nisanin-bozulmasindan-kaynaklanan-davalar-maddi-tazminat-manevi-tazminat-hediyelerin-iadesi">Nişanın Bozulmasından Kaynaklanan Davalar: Maddi Tazminat, Manevi Tazminat, Hediyelerin İadesi</a>
                            <span class="meta-data grid-item-meta">Posted on 05 May, 2016</span>
                        </li>
                        <li>
                            <a href="iki-yasindaki-kiz-cocugun-bosanan-anne-baba-ile-kisisel-iliskisi">2 Yaşındaki Kız Çocuğun Boşanan Anne-Baba İle Kişisel İlişkisi</a>
                            <span class="meta-data grid-item-meta">Posted on 04 May, 2016</span>
                        </li>
                        <li>
                            <a href="bosanmada-maddi-ve-manevi-tazminat">Boşanmada Maddi ve Manevi Tazminat</a>
                            <span class="meta-data grid-item-meta">Posted on 28 April, 2016</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="widget footer_widget">
                    <h4 class="widgettitle">İletişim</h4>

                    <p>

                        Cumhuriyet Cad. No:40/5 Elmadağ <br />Şişli İstanbul
                    </p>


                </div>
            </div>
        </div>

        <div class="footer-row2">
            <ul class="pull-right social-icons social-icons-colored social-icons-inverted">
                <li class="facebook"><a href="https://www.facebook.com/pdenktas" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                <li class="twitter"><a href="https://twitter.com/PinarDenktas" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="instagram"><a href="https://www.instagram.com/pinar_denktas/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCXUEuecRrjo3JUMdx9eKqxQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/pinar-denktas-ll-m-99099027/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <ul class="footer-menu">
                <li><a href="/pinar-denktas" target="_blank">Av. Arb. Pınar DENKTAŞ</a></li>
                <li><a href="/hizmetlerimiz" target="_blank">Hizmetler</a></li>
                <li><a href="/makaleler" target="_blank">Makaleler</a></li>
                <li><a href="/iletisim-formu" target="_blank">İletişim</a></li>
            </ul>
        </div>
        <div class="footer-row3">
            <a href="index.html"><img src="~/Assets/images/allimages/asli-logo-denktas_Yeni.png" alt="" class="site-footer-logo"></a>
            <p>&copy; @DateTime.Now.Year Tasarım ve Uygulama <a href="http://setup34.com.tr/" target="_blank">SETUP34 DIGITAL</a></p>
        </div>
    </div>
</div>