<!-- Site Footer -->
<div class="site-footer">
    <div class="container">
        <div class="row footer-widgets-area">
            <div class="col-md-6 col-sm-4">
                <div class="widget footer_widget widget_links">
                    <h4 class="widgettitle">Hızlı Linkler</h4>
                    <ul>
                        <li>
                            <a href="http://www.adalet.gov.tr/">T.C. Adalet Bakanlığı</a>
                        </li>
                        <li>
                            <a href="http://www.istanbulbarosu.org.tr/">İstanbul Barosu</a>
                        </li>
                        <li>
                            <a href="http://www.rekabet.gov.tr/">Rekabet Kurumu</a>
                        </li>
                        <li>
                            <a href="http://www.bddk.org.tr/">Bankacılık Düzenleme ve Denetleme Kurumu</a>
                        </li>
                        <li>
                            <a href="http://www.spk.gov.tr/">Sermaye Piyasası Kurulu</a>
                        </li>
                        <li>
                            <a href="http://www.btk.gov.tr/">Bilgi Teknolojileri ve İletişim Kurumu</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://www.yargitay.gov.tr/">Yargıtay Başkanlığı</a>
                        </li>
                        <li>
                            <a href="https://www.danistay.gov.tr/">Danıştay Başkanlığı</a>
                        </li>
                        <li>
                            <a href="https://www.anayasa.gov.tr/tr/anasayfa/">Anayasa Mahkemesi</a>
                        </li>
                        <li>
                            <a href="https://www.barobirlik.org.tr/">Türkiye Barolar Birliği</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="widget footer_widget widget_recent_posts">
                    <h4 class="widgettitle">Son Yazılar</h4>
                    <ul>
                        <li>
                            <a href="single-post.html">Solicitor voted 15th best company to work for in the US</a>
                            <span class="meta-data grid-item-meta">Posted on 05 May, 2016</span>
                        </li>
                        <li>
                            <a href="single-post.html">Government softens plan to criminalise unwitting offshore tax evasion</a>
                            <span class="meta-data grid-item-meta">Posted on 04 May, 2016</span>
                        </li>
                        <li>
                            <a href="single-post.html">Solicitor announces 6 new partners</a>
                            <span class="meta-data grid-item-meta">Posted on 28 April, 2016</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="widget footer_widget">
                    <h4 class="widgettitle">İletişim</h4>
                    <div class="twitter-widget" data-tweets-count="2"></div>
                </div>
            </div>
        </div>

        <div class="footer-row2">
            <ul class="pull-right social-icons social-icons-colored social-icons-inverted">
                <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>           
        </div>
        <div class="footer-row3">
            <a href="index.html"><img src="~/Assets/images/allimages/asli-logo-denktas.png" alt="" class="site-footer-logo"></a>
            <p>&copy; @DateTime.Now.Year Tasarım ve Uygulama <a href="http://setup34.com.tr/" target="_blank">SETUP34 DIGITAL</a></p>
        </div>
    </div>
</div>