<div class="header-wrapper">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a class="footer-link" href="tel:0212 705 0512">0212 705 0512</a> | <a class="footer-link" href="mailto:pdenktas@denktaskurtoglu.av.tr">pdenktas@denktaskurtoglu.av.tr</a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="pull-right social-icons">
                        <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <form class="search-form">
                        <input type="text" placeholder="Ara">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Header -->
    <div class="site-header">
        <div class="container">
            <div class="site-logo">
                <a href="/">
                    <img src="~/Assets/images/allimages/asli-logo-denktas.png" alt="" class="default-logo">
                    <img src="~/Assets/images/allimages/asli-logo-denktas.png" alt="" class="retina-logo" width="164" height="45">
                </a>
            </div>
            <a href="#" id="info-toggle"><i class="fa fa-bars"></i></a>
            <ul id="info-content">
                <li>
                    <i class="fa fa-phone"></i>
                    <div class="ititle">Bizi Arayın</div>
                    <strong>0212 705 0512</strong>
                </li>
                <li>
                    <i class="fa fa-map-signs"></i>
                    <div class="ititle">E-Posta</div>
                    <strong>info@denktaskurtoglu.av.tr</strong>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <div class="ititle">Adres</div>
                    <strong>Cumhuriyet Cad. No:40/5 <br />Elmadağ Şişli İstanbul</strong>
                </li>
            </ul>
            <a href="#" id="menu-toggle">Menu</a>
            <nav class="main-navigation pull-right">
                <ul class="dd-menu sf-menu">                  
                    <li>
                        <a href="/pinar-denktas">Av. Arb. Pınar DENKTAŞ</a>
                        @*<ul>
                                <li><a href="#">Overview</a></li>
                            </ul>*@
                    </li>
                    <li>
                        <a href="/pinar-denktas">Av. Arb. Kübra KURTOĞLU</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/iletisim-formu">İletişim</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>