<div class="header-wrapper">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a class="footer-link" href="tel:+90 212 705 05 12">+90 212 705 05 12</a> | <a class="footer-link" href="mailto:pinar.denktas@denktas.av.tr">Email</a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="pull-right social-icons">
                        <li class="facebook"><a href="https://www.facebook.com/pdenktas" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/PinarDenktas" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/pinar_denktas/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="youtube"><a href="https://www.youtube.com/channel/UCXUEuecRrjo3JUMdx9eKqxQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/in/pinar-denktas-ll-m-99099027/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <form class="search-form">
                        <input type="text" placeholder="Ara">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Header -->
    <div class="site-header">
        <div class="container">
            <div class="site-logo">
                <a href="/">
                    <img src="~/Assets/images/allimages/asli-logo-denktas.png" alt="" class="default-logo">
                    <img src="~/Assets/images/allimages/asli-logo-denktas.png" alt="" class="retina-logo" width="164" height="45">
                </a>
            </div>
            <a href="#" id="info-toggle"><i class="fa fa-bars"></i></a>
            <ul id="info-content">
                <li>
                    <i class="fa fa-phone"></i>
                    <div class="ititle">Bizi Arayın</div>
                    <strong><a class="footer-link" href="tel:+90 212 705 05 12">+90 212 705 05 12</a></strong>
                </li>
                <li>
                    <i class="fa fa-map-signs"></i>
                    <div class="ititle">Email</div>
                    <strong><a class="footer-link" href="mailto:pinar.denktas@denktas.av.tr">Pinar Denktaş</a></strong>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <div class="ititle">Adres</div>
                    <strong>Cumhuriyet Cad. No:40/5 <br />Elmadağ Şişli İstanbul</strong>
                </li>
            </ul>
            <a href="#" id="menu-toggle">Menu</a>
            <nav class="main-navigation pull-right">
                <ul class="dd-menu sf-menu">                  
                    <li>
                        <a href="/pinar-denktas" target="_blank">Av. Arb. Pınar DENKTAŞ</a>
                        @*<ul>
                                <li><a href="#">Overview</a></li>
                            </ul>*@
                    </li>
                    
                    <li>
                        <a href="/blog" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="/iletisim-formu" target="_blank">İletişim</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>